* {
    margin: 0 ;
}
body {
    position: relative;
    background-color: #ebede8 ;
}

ul {
    
    list-style: none ;
}

a:hover {
    text-decoration: none 
}
a {
   text-decoration: none 
}

.text-white {
    
    color: white !important;
}
.bg-navbar-main {
    
    background-color: rgb(8, 10, 65) ;
}
#btn-menu {
    
    color: #413f3f ;
}
#profile-cont  {
    
    display: inline-flex ;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
    position: relative ;
    
}

#title-nav {
    
    padding-top: 0.60rem;
}
#profile-cont > li  {
    
    margin: 5px;
    text-decoration: none ;
    
}
#profile-cont h6 {
    
    color: #413f3f 
}
.icon-user-tie {
    
    color: #413f3f ;
    font-size: 30px
}
#profile-cont li:focus {
    
    text-decoration: none ;
    
}
#profile-cont li a {
    
    text-decoration: none ;
    
}
#profile-cont li a:hover {
    
    text-decoration: none ;
    
}


#profile-menu {
    
    display:none;

}
#profile-menu ul {
    padding-left: 8px ;
}
#profile-menu ul li a{
    
    color: rgb(111, 111, 111) !important
    
}
#sub-profile-menu {
    
    display: inline-flex ;
    align-items: center ;
    padding-left: 0px;

}
#nick-user-nav:hover div {
    
    display :flex ;
    border-radius: 4px;
    flex-direction : column ;
    position : fixed ;
    z-index : 1 ;
    background-color : #f7f7f9 ;
    font-size : 15px ;
    border : 1px solid rgba(203, 203, 203, 0.98) ; 
    transition: all 0.3s ease-out
}
#profile-menu ul {
    
    padding-left: 0px
}
#profile-menu li {
    padding: 5px 15px ;
    
}
#profile-menu li:hover {
    
    background-color: #ededed ;
}
#icon-perfil-top {
    
    color: #444645 ;
}
#icon-perfil-top:hover .icon-perfil{
    
    transition : all 0.2s ease-out !important;
    transform : rotate(-90deg) !important;
}

/*######################
navegacion derecha 
######################*/

.bg-black {
    
    background-color: #413f3f ;
}

.nav-right {
    
    width: 70% ;
    height: 100%;
    color: white ;
    position: fixed ;
    right: -70%;
    transition: all 0.3s ease-out
        
    }

@media (max-width: 576px) {
    
    .nav-right {
    
    width: 70% ;
    height: 100%;
    color: white ;
    position: fixed ;
    right: -70%;
    transition: all 0.3s ease-out
        
    }
    
}

#title-nav-left {
    
    padding: 10px;
    font-size: 20px
}
#list-menu-left {
    
    padding-left: 10px
} 

.nav-right-active {
    
    height: 100%;
    color: white ;
    position: fixed ;
    right: -300px;
    width: 100%;
    transition: all 0.3s ease-out;
    
}

.nav-left-link a{
    
    
    color: white ;
        
}

.nav-left-link a:focus{
    
    
    color: white ;
    text-decoration: none;
        
}

.nav-left-link{
    
padding: 10px;
    
}

.nav-left-link a:hover {
    
    color: #c3c6cb;
    transition: all 0.2s ease-out;
   
        
    }

.icon-menu {
    font-size: 35px
}


.sub-menu-nav-left {
    
    overflow: hidden ;
    height: 0px;
}
.sub-left-link {
    
    padding: 3px;
    
}
.sub-left-link a {
    
    color: rgb(186, 179, 179) ;
}
.sub-left-link a:hover {
    
    color: #fcfeff ;
    color: #737a80 ;
    transition: all 0.2s ease-out ;
}

#pic-profile {
    
    height: 50px ;
    width: 60px;
    border-radius: 5px
}

/*######################
Panel izquierda 
######################*/

.panel-left {
    
    position: fixed;
    width: 100% ;
    height: 100%;
    left: 0px;
    background-color: rgba(227, 227, 230, 0.99);
    overflow: scroll;
    flex-wrap: wrap
}

#cont-cards {
    
    display: flex;
    flex-wrap: wrap
}
@media (max-width: 576px){
    
    .panel-left {
    
    position: fixed;
    width: 100% ;
    height: 100%;
    left: 0px;
    background-color: rgba(227, 227, 230, 0.99);
    overflow: scroll
}
    
}

.box-border {
    
    box-shadow: 0px 0px 6px 1px rgba(2,2,2,0.12);
    
}
.cont-icon-descp {
    
    height: 70px ;
    width: 170px ;
    display: inline-flex ;
    flex-direction: row ;
    align-items: center ;
    position: relative ;
    
    
}

.cont-shotcouts {
    
    display: inline-flex ;
    flex-direction: row ;
    align-items: center ;
    justify-content: center ;
    height: 70px;
    width: 70px ;
    border: 2px solid white ;
    background-color: orangered ;
    float: left ;
    position: absolute;
    z-index: 2 ;
    border-radius: 50px;
     transform: scale(1.3);
    transition: all .3s ease-out
    
}
.cont-shotcouts:hover {
    
    display: inline-flex ;
    flex-direction: row ;
    align-items: center ;
    justify-content: center ;
    height: 70px;
    width: 70px ;
    border: 2px solid white ;
    background-color: orangered ;
    border-radius: 50px;
    transform: scale(1.3);
    transition: all .2s ease-out
    
}
.cont-shotcouts:hover span {
    
    transform: scale(1.3);
    color: white ;
    transition: all .2s ease-out
    
}
.name-descp {
    
    display: flex ;
    flex-direction: row ;
    align-items: center ;
    justify-content: center;
    height: 40px ;
    width: 100px ;
    border-radius: 10px;
    position: absolute;
    border: 2px solid orangered ;
    right: 0px;
   
}
.name-descp  {
    
    color: orangered ;
}
.icono-ventas-main {
    
    font-size: 2rem;
    color: white ;
    transition: all .3s ease-out
}