* {
    margin: 0 ;
}
body {
    position: relative;
    background-color: #ebede8 ;
}

ul {
    
    list-style: none ;
}

a:hover {
    text-decoration: none 
}
a {
   text-decoration: none 
}
#btn-menu {
    
    color: #413f3f ;
}
#profile-cont  {
    
    display: inline-flex ;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
    position: relative ;
    
}
#profile-cont > li  {
    
    margin: 5px;
    text-decoration: none ;
    
}
#profile-cont h6 {
    
    color: #413f3f 
}
.icon-user-tie {
    
    color: #413f3f ;
    font-size: 30px
}
#profile-cont li:focus {
    
    text-decoration: none ;
    
}
#profile-cont li a {
    
    text-decoration: none ;
    
}
#profile-cont li a:hover {
    
    text-decoration: none ;
    
}


#profile-menu {
    
    display:none;

}
#profile-menu ul {
    padding-left: 8px ;
}
#profile-menu ul li a{
    
    color: rgb(111, 111, 111) !important
    
}
#sub-profile-menu {
    
    display: inline-flex ;
    align-items: center ;
    padding-left: 0px;

}

/*######################
navegacion derecha 
######################*/

.bg-black {
    
    background-color: #413f3f ;
}

.nav-right {
    
    width: 70% ;
    height: 100%;
    color: white ;
    position: fixed ;
    right: -70%;
    transition: all 0.3s ease-out
        
    }

@media (max-width: 576px) {
    
    .nav-right {
    
    width: 70% ;
    height: 100%;
    color: white ;
    position: fixed ;
    right: -70%;
    transition: all 0.3s ease-out
        
    }
    
}

#title-nav-left {
    
    padding: 10px;
    font-size: 20px
}
    
}
.nav-right-active {
    
    height: 100%;
    color: white ;
    position: fixed ;
    right: -300px;
    width: 100%;
    transition: all 0.3s ease-out;
    
}

.nav-left-link a{
    
    
    color: white ;
        
}

.nav-left-link a:focus{
    
    
    color: white ;
    text-decoration: none;
        
}

.nav-left-link{
    
padding: 10px;
    
}

.nav-left-link a:hover {
    
    color: #c3c6cb;
    transition: all 0.2s ease-out;
   
        
    }

.icon-menu {
    font-size: 35px
}
#title-nav-left {
    
    padding: 10px
}

.sub-menu-nav-left {
    
    overflow: hidden ;
    height: 0px;
}
.sub-left-link {
    
    padding: 3px;
    
}
.sub-left-link a {
    
    color: rgb(186, 179, 179) ;
}
.sub-left-link a:hover {
    
    color: #fcfeff ;
    color: #737a80 ;
    transition: all 0.2s ease-out ;
}

#pic-profile {
    
    height: 50px ;
    width: 60px;
    border-radius: 5px
}
#icon-perfil {
    
    color: #444645 ;
}
/*######################
Panel izquierda 
######################*/

.panel-left {
    
    position: fixed;
    width: 100% ;
    height: 100%;
    left: 0px;
    background-color: rgba(227, 227, 230, 0.99);
    overflow: scroll;
    flex-wrap: wrap
}

#cont-cards {
    
    display: flex;
    flex-wrap: wrap
}
@media (max-width: 576px){
    
    .panel-left {
    
    position: fixed;
    width: 100% ;
    height: 100%;
    left: 0px;
    background-color: rgba(227, 227, 230, 0.99);
    overflow: scroll
}
    
}


.month-desc{
    
    display: flex ;
    flex-direction: row;
    align-items: center;
    height: 70px;
    width: 350px;
    padding-top: 20px;
    border-bottom: 1px solid #c1c1c4 ;
        
}
.calendar-desc {
    
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40% ;
    height: 30px;
    background-color: #fafafa ;
    margin-top: 30px;
    box-shadow: 1px 1px 5px 2px #9d9393 ;
    transition: all 0.3s ease-out
    
}

.panel-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 240px;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px
}
.head-card {
    
    height: 70%;
    display: flex ;
    flex-direction: column ;
    justify-content: center ;
    align-items: center;
    
}
.desc-card {
    
    height: 30%;
    background-color: #57cc57 ;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}
.icon-stats-dots{
    
    font-size: 100px;
    color: #57cc57;
    margin-top: 20px
    
}
.icon-cart2 {
    font-size: 100px;
    color: #57cc57;
    margin-top: 20px
}
.icon-truck{
     font-size: 100px;
    color: #57cc57;
    margin-top: 20px
}
.icon-users {
    font-size: 100px;
    color: #57cc57;
    margin-top: 20px
}
.coin-card {
    padding: 5px;
    font-size: 30px;
    color: #b4b7ba;
    
}


    

@media ( max-width: 576px ) {
    
    .coin-card {
    padding: 5px;
    font-size: 20px;
    color: #b4b7ba;
    
}
    
}

.desc-card-letter {
    
    color: white ;
    font-size: 30px
}
@media ( max-width: 576px ) {
    
.desc-card-letter {
    
    color: white ;
    font-size: 20px
}

@media ( max-width: 576px ) {
    
    
 .month-desc{
    
    display: flex ;
    flex-direction: row;
    align-items: center;
    height: 70px;
    width: 90%;
    padding-top: 20px;
    border-bottom: 1px solid #c1c1c4 ;
        
}   
    .month-desc h2 {
        
        font-size: 25px
    }
  .icon-stats-dots{
    
    font-size: 50px;
    color: #57cc57;
    margin-top: 10px
    
}
.icon-cart2 {
    font-size: 50px;
    color: #57cc57;
    margin-top: 20px
}
.icon-truck{
     font-size: 50px;
    color: #57cc57;
    margin-top: 20px
}
.icon-users {
    font-size: 50px;
    color: #57cc57;
    margin-top: 20px
}  
}